body {
    background-image: url("../imgs/bkg1.jpg");
    background-repeat: no-repeat;
    color: white !important;
}

.titulo {
    padding-top: 11%;
    margin-left: 5%;
}

.container {
    float: left;
    padding-top: 4% !important;
    margin-left: 5% !important;
    max-width: 640;
}
.homeLink{
    color: white;
}
.car {
    background: transparent;
    border: 1px solid white;
    border-radius: 25px;
    margin-left: 4%;
    height: 25%;
}

.ico {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 5%;
}

.text {
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding-top: 20%;
    margin: 1%;
}

.text2 {
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding-top: 10%;
    margin: 1%;
}

.carClick {
    background-color: #d9ae03;
    border: 1px solid black;
    border-radius: 20px;
    float: left;
    margin-top: 7%;
    margin-left: 30%;
}

.textClick {
    width: 100%;
    color: black !important;
    text-align: center;
    padding: 6%;
    margin: 1%;
    font-size: 120%
}

@media only screen and (max-width: 1379px) {
    .carClick {
        margin-left: 20%;
    }
}
@media only screen and (max-width: 770px) {
    .container {
        max-width: 660;
    }

    .textDiv {
        width: 100%;
        text-align: center;
    }
    .car {
        margin-bottom: 1%;
        margin-left: 3%;
        height: unset;
    }
    .carClick {
        margin-left: 30%;
    }
}
@media only screen and (max-width: 637px) {

    .car {
        margin-left: 1%;
    }
    .divClick {
        margin-left: 1%;
    }
}